---
layout: layout.liquid
permalink: "/{{ page.fileSlug }}.html"
---
<div class="content">
  <div class="content-sheet">
    <div class="post-header-image-container" style="background: url('{{ image }}') {{ image_position | default: "center" }}"></div>
    <h1>{{ title }}</h1>
    <article>
      {{ content }}
    </article>
  </div>
</div>